.sec label {
    font-size: 16px;
    font-weight: bold;
}

.wbbm_status .active {
    background: green none repeat scroll 0 0;
    color: #fff;
    padding: 6px 10px;
}

.wbbm_status .err {
    background: red none repeat scroll 0 0;
    color: #fff;
    padding: 6px 10px;
}

#wbbm_uid {
    width: 65px;
}

.inside .sec input {
    border: 1px solid #ddd;
    padding: 5px;
    color: #000;
}

.inside .sec label {
    font-weight: normal;
    display: block;
}

table.atendee-info {
    display: block;
    overflow: hidden;
    width: 100%;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
    height: 250px;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

div#wbbm_event_faq_r {
    display: block;
    width: 94%;
    border: 1px solid #ddd;
    padding: 20px;
}

.mep-faq-input {
    width: 100%;
    display: block;
    border: 1px solid #8a8a8a;
    padding: 5px;
    margin: 15px 0;
}

div#mep-event-faq-box {
    overflow: hidden;
}

a.button.remove-faq-row {
    /* float: right; */
    overflow: hidden;
    display: inline-block;
}

.settings_page_wbbm_event_settings_page h2 {
    padding-left: 10px;
}

.mep-attendee-sec-details span {
    border: 1px solid #ddd;
    padding: 10px;
    display: inline-block;
}

.mep-attendee-sec-details .ea-label {
    width: 200px!important;
    font-weight: bold;
}

.mep-attendee-sec-details .ea-value {
    width: 68%!important;
}

.mep-attendee-sec-details .sec {
    margin: 0;
}

div#wbbm-bus-ticket-type {
    overflow: auto;
}

tbody#seat_panel tr td {
    text-align: center;
    border: 1px solid #ddd;
}

tbody#seat_panel tr td select {
    display: block;
    margin: 0 auto;
}


/*Tickets*/

.wbbm-ticket-body {
    background: #fff;
    padding: 10px;
    margin: 40px auto;
    width: 600px;
    border: 5px dashed #ea4242;
}

.wbbm-ticket-body table {
    width: 100%;
}

.wbbm-ticket-body table tr td {
    padding: 6px;
    font-size: 15px;
    border-bottom: 1px dashed #ddd;
}

.wbbm-ticket-body table tr td h3 {
    padding: 10px 0;
    margin: 0;
    font-size: 25px;
}

.ticket-search {
    width: 400px;
    background: #fff;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
}

.ticket-search h2 {
    margin: 0;
    padding: 0 0 20px 0;
}

.ticket-search input {
    display: block;
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

.ticket-search button {
    padding: 10px 20px;
    font-size: 15px;
}

span.wbbm-ticket-hold {
    background: #d0d0d0;
    padding: 5px 20px;
}

span.wbbm-ticket-cancelled {
    background: #FF0000;
    padding: 5px 10px;
    color: #fff;
}

span.wbbm-ticket-confirm {
    background: #02792f;
    padding: 5px 10px;
    color: #fff;
}

.bus-stops-wrapper {
    display: flex;
    justify-content: space-around;
    width: max-content;
}

.bus-stops-wrapper:before {
    content: '\f101\f101\f101';
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 31px;
    color: #ffbe02;
}

.bus-stops-wrapper .bus-stops-left-col,
.bus-stops-wrapper .bus-stops-right-col {
    background: #deffb5;
    padding: 10px;
}

.bus-stops-wrapper .bus-stops-right-col {
    background: #ffe9b5;
}

.bus-stops-wrapper select {
    max-width: 159px;
}

.meta-box-sortables select {
    max-width: 159px;
}

.mp_event_all_meta_in_tab .field-wrapper select {
    min-width: 250px;
}

.bus-tops-sec-title {
    text-align: center;
    color: #555;
    text-decoration: underline;
}

.bus-stops-wrapper table+p {
    padding: 0 4px;
}

@media only screen and (max-width: 1600px) {
    #wbbm-single-settings-meta table td input {
        max-width: 120px;
    }
}

@media only screen and (max-width: 1440px) {
    .bus-stops-wrapper:before {
        content: '\f101';
        width: 22px;
        font-size: 26px;
    }
}

@media only screen and (max-width: 1024px) {
    .bus-stops-wrapper {
        flex-direction: column;
    }
    .bus-stops-wrapper:before {
        display: none;
    }
    .bus-stops-right-col {
        margin-top: 30px;
    }
    .bus-stops-wrapper table+p {
        padding: 0 14px;
    }
}

.roundtrip-input {
    background: #f7ffad !important;
    color: #2d2d2d !important;
}

.wbbm-price-col>input {
    width: 100%;
    max-width: 197px;
}

.button.remove-price-row {
    color: #d63638;
    border-color: #d63638;
}

.wbbm_bus_pickpint_wrapper {
    display: flex;
    padding-top: 5px;
    flex-direction: column;
}

.wbbm_bus_pickpint_wrapper .wbbm_left_col {
    flex-basis: 100%;
    margin-bottom: 30px;
}

.wbbm_bus_pickpint_wrapper .wbbm_right_col {
    flex-basis: 100%;
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickpoint-adding-wrap-main {
    padding: 20px;
    padding-top: 0;
}

.wbbm_pickpoint_title {
    background-color: #081D33;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0;
    border-radius: 8px 10px 0 0;
}

.wbbm_remove_pickpoint {
    padding: 4px 6px;
    font-size: 14px;
    color: #F06292;
    font-weight: 400;
    background: transparent;
    border: none;
    border-radius: 3px;
    line-height: 1em;
    cursor: pointer;
}

.wbbm_selected_city_item {
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    border: 2px solid rgb(92, 88, 165);
    border-radius: 10px;
}

.wbbm_selected_city_item .pickpoint-adding {
    display: flex;
    margin-bottom: 5px;
}

.wbbm_selected_city_item .pickpoint-adding-wrap .pickpoint-adding:first-child {
    margin-top: 30px;
}

.remove_city_for_pickpoint {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    right: -3px;
    top: -3px;
    line-height: 1em;
    text-align: center;
    color: #F06292;
    font-weight: 700;
    cursor: pointer;
}

.wbbm_selected_city_item .wbbm_add_more_pickpoint,
.wbbm_add_pickpoint_this_city {
    background: #8BC34A;
    color: #fff;
    border: 1px solid #8BC34A;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 3px #e0e0e0;
    cursor: pointer;
}

.wbbm_add_pickpoint_this_city {
    margin-top: 2px;
}

.wbbm_selected_city_item .wbbm_add_more_pickpoint:hover,
.wbbm_add_pickpoint_this_city:hover {
    background: #d4fda5;
    color: #7d7d7d;
}

.wbbm_pick_boarding {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .wbbm_bus_pickpint_wrapper {
        flex-direction: column;
    }
    .wbbm_bus_pickpint_wrapper .wbbm_right_col {
        border: none;
        padding-left: 0;
        margin-top: 20px;
    }
    .wbbm_bus_pickpint_wrapper .wbbm_field_group {
        display: flex;
    }
    .wbbm_bus_pickpint_wrapper .wbbm_add_pickpoint_this_city {
        flex-basis: 40%;
        margin-top: 0;
        box-shadow: initial;
    }
}

.wbbm_bus_stops_notice {
    padding: 10px 0;
    text-align: center;
    background: #d23838;
    color: #fff;
    border: 5px solid #ff2d2d;
    padding: 5;
    font-size: 16px;
    display: block;
    margin: 20px;
}

.wbbm_color_white {
    color: #fff !important;
}

.wbbm_color_green {
    color: rgb(59, 201, 124);
}

.wbbm_plugin_pro_menu {
    color: #EA4545;
}

.wbbm_plugin_pro_meta_link {
    color: #EA4545;
    font-weight: bold;
}

.wbbm_plugin_pro_meta_link:hover {
    color: #D04E4E;
}

#repeatable-fieldset-offday tr td input {
    width: 100%;
    padding: 5px 10px;
    height: 30px;
}

label.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
    margin-left: 5px;
}

label.switch input {
    display: none;
}

label .slider.round {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(30 27 27 / 25%);
    -webkit-transition: .4s;
    transition: .4s;
}

label .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    top: -3px;
    box-shadow: -1px 3px 5px -3px rgba(170, 170, 170, 0.76)
}

label input:checked+.slider:before {
    left: -10px;
    background-color: #5C58A5;
}

label input:checked+.slider {
    background-color: rgba(92, 88, 165, 0.25);
}

label input:checked+.slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}


/*****************
CSS Added By Ariful
******************/

.wbbm_settings_panel {
    display: -webkit-flex;
    display: flex;
}

.wbbm_settings_panel .nav-tab-wrapper {
    border-bottom: 0px;
    width: 25%;
    padding: 0;
    background: #161b37;
    border: 5px solid #C6C6C6;
}

.wbbm_settings_panel .metabox-holder {
    width: 74%;
    padding: 0 !important;
    border: 5px solid #C6C6C6;
}

.wbbm_settings_panel .metabox-holder .postbox {
    margin-bottom: 0;
    padding: 10px;
}

.wbbm_settings_panel .nav-tab-wrapper .nav-tab {
    display: block;
    float: none;
    margin-left: 0;
    padding: 10px 12px;
    font-size: 14px;
    transition: 0.2s;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted #FFF;
    color: #fff;
    font-weight: 500;
}

.wbbm_settings_panel .nav-tab.nav-tab-active {
    background: #D04E4E;
    color: #FFF;
}

.wbbm_settings_panel .nav-tab-wrapper .nav-tab:hover {
    background: #D04E4E;
    transition: 0.2s;
}

.wbbm_settings_panel .metabox-holder h2 {
    background: #161b37;
    color: #fff;
    border-bottom: 2px solid #0071A1;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    font-weight: 500;
}

.wbbm_settings_panel .metabox-holder table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 0px;
}

.wbbm_settings_panel .metabox-holder table tr:nth-child(even) {
    background-color: #fff;
}

.wbbm_settings_panel .metabox-holder table tr:nth-child(odd) {
    background-color: #b30c3b12;
}

.wbbm_settings_panel .metabox-holder span.description {
    margin-top: 8px;
    color: #666;
    font-weight: normal;
}

.wbbm_settings_panel p.submit {
    text-align: right;
}

.wbbm_settings_panel p.submit input {
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 0;
    background: #D04E4E;
    border-color: #D04E4E;
    transition: 0.2s;
}

.wbbm_settings_panel p.submit input:hover {
    background: #972222;
    border-color: #972222;
    transition: 0.2s;
}

.wbbm_settings_panel_header {
    background: #161b37;
    padding: 30px 20px 30px 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
}

.wbbm_settings_panel_header small {
    margin-left: 10px;
    font-size: 13px;
}


/*Single Bus Setting*/

#wbbm-single-settings-meta .bus-tops-sec-title {
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(8, 29, 51);
    margin: 0;
    border-radius: 8px 8px 0 0;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-left-col,
#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-right-col {
    background: #fbfbfb !important;
    padding: 10px;
}

#wbbm-single-settings-meta .configuration_wrapper .sec {
    margin: 0;
    margin-bottom: 10px;
}

#wbbm-single-settings-meta .onday-sec label {
    display: block;
}

#wbbm-single-settings-meta .wbbm-offday-wrapper a#add-offday-row.button {
    margin-bottom: 20px;
}

#wbbm-single-settings-meta table {
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    width: 100%;
}

#wbbm-single-settings-meta table th {
    background-color: rgb(92, 88, 165);
    color: #fff;
    font-size: 13px;
    padding: 8px;
}

#wbbm-single-settings-meta .inside .offday-sec label {
    margin-right: 10px;
}

#wbbm-single-settings-meta table td,
#wbbm-single-settings-meta .configuration_wrapper .sec,
#wbbm-single-settings-meta .wbbm_bus_psngr_regform_wrap .sec {}

#wbbm-single-settings-meta table tr:nth-child(even),
#wbbm-single-settings-meta .configuration_wrapper .sec:nth-child(even),
#wbbm-single-settings-meta .wbbm_bus_psngr_regform_wrap .sec:nth-child(even) {
    background-color: #fff;
}

#wbbm-single-settings-meta table tr:nth-child(odd),
#wbbm-single-settings-meta .configuration_wrapper .sec:nth-child(odd),
#wbbm-single-settings-meta .wbbm_bus_psngr_regform_wrap .sec:nth-child(odd) {
    background-color: #ffffff;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-left-col table tbody tr:after {
    content: '';
    background: url('http://localhost:8080/mage-multipurpose/wp-content/plugins/bus-booking-manager/images/bus_route_arrow.png');
    position: absolute;
    left: 101%;
    top: 12px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-left-col table tbody tr:not(.empty-row-bp) {
    position: relative;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-left-col {
    border-right: 0;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-right-col {
    border-left: 0;
}

#wbbm-single-settings-meta .bus-stops-wrapper::before {
    display: none;
}

#wbbm-single-settings-meta,
#wbbm-single-settings-meta,
#wbbm-bus-info-form,
#wbtm-bus-operational-date,
#wbtm-bus-operationa-on-date {
    overflow-x: scroll;
}

a.button.remove-faq-row,
a.button.remove-bp-row,
a.button.remove-price-row,
button.wbbm_remove_pickpoint,
a.button.remove-row {
    border-color: #EA2330;
    background: #EA2330;
    color: #fff;
}

a.button.remove-faq-row:hover,
a.button.remove-bp-row:hover,
a.button.remove-price-row:hover,
button.wbbm_remove_pickpoint:hover,
a.button.remove-row:hover {
    border-color: #C41823;
    background: #C41823;
    color: #fff;
}

a#add-faq-row.button,
a#add-bp-row.button,
a#add-price-row.button,
a#add-offday-row.button,
a#add-row.button {
    background-color: rgb(59, 201, 124);
    border-radius: 5px;
    border: 1px solid rgb(59, 201, 124);
    color: #fff;
    display: block;
    width: max-content;
    margin: auto;
}

a#add-faq-row.button:hover,
a#add-bp-row.button:hover,
a#add-price-row.button:hover,
a#add-offday-row.button:hover,
a#add-row.button:hover {
    background-color: #0FA218;
    border-color: #0FA218;
    color: #fff;
}

#wbbm-single-settings-meta .wbbm-price-col>input {
    margin-bottom: 3px;
}

#wbbm-bus-info-form .inside .sec {
    margin: 0;
    padding: 8px;
    border: 1px solid #f5f5f5;
}

a#add-offday-row.button {
    margin-top: 20px;
}

#wbtm-bus-operational-date .inside .sec {
    border: 1px solid #f5f5f5;
    margin-top: 30px;
}

#wbtm-bus-operationa-on-date .inside .sec {
    border: 1px solid #f5f5f5;
    padding: 8px;
    background-color: #f9e9e9;
}

#wbbm-single-settings-meta .wbbm_add_more_pickpoint,
#wbbm-single-settings-meta .wbbm_add_pickpoint_this_city {
    background-color: rgb(59, 201, 124) !important;
    border-radius: 5px;
    border: 1px solid rgb(59, 201, 124) !important;
    padding: 0px 10px;
    line-height: 28px;
    font-size: 13px;
    font-weight: 400;
    width: max-content;
    box-shadow: none;
    margin-top: 0px
}

#wbbm-single-settings-meta .wbbm_add_more_pickpoint {
    width: max-content;
}

#wbbm-single-settings-meta .wbbm_add_more_pickpoint:hover,
#wbbm-single-settings-meta .wbbm_add_pickpoint_this_city:hover {
    background-color: #0FA218;
    border-color: #0FA218;
    color: #fff;
}

#wbbm-single-settings-meta .remove_city_for_pickpoint {
    color: #fff;
    background: #EA2330;
    padding: 8px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
}

.wbbm_green_btn {
    background-color: rgb(59, 201, 124);
    border-radius: 5px;
    border: 1px solid rgb(59, 201, 124);
    color: #fff;
    transition: 02s;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.wbbm_green_btn:hover {
    background-color: #0FA218;
    border-color: #0FA218;
    color: #fff;
    transition: 02s;
}

.wbbm_red_btn {
    border-color: #EA2330;
    background: #EA2330;
    border-radius: 5px;
    color: #fff;
    transition: 02s;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.wbbm_red_btn:hover {
    border-color: #C41823;
    background: #C41823;
    color: #fff;
    transition: 02s;
}

.media_preview {
    width: 150px;
    margin-bottom: 10px;
    background: #d2d2d2;
    padding: 15px 5px;
    text-align: center;
    border-radius: 5px;
}

.media_preview img {
    width: 100%;
}

#wbtm-bus-reg-form .inside .sec {
    margin: 0;
}


/*Single Bus SEttings*/

.mp_event_all_meta_in_tab {
    display: -webkit-flex;
    display: flex;
    min-height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.mp_tab_menu {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    background-color: #081D33;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.mp_tab_menu ul {
    margin: 0;
}

.mp_tab_menu ul li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: #c6d4db;
    position: relative;
    font-size: 12px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    border-radius: 20px;
}

.mp_tab_menu ul li img {
    width: 15px;
    margin-right: 8px;
}

.mp_tab_menu ul li:last-child {
    border: none;
}

.mp_tab_menu ul li span {
    width: initial;
    height: initial;
    display: block;
    margin-right: 5px
}

.mp_tab_menu ul li.active {
    color: #fff;
    font-size: 12px;
    background-color: #5C58A5;
}

.mp_tab_menu ul li:hover {
    color: #f2f2f2;
}

.mp_tab_details {
    width: 100%;
    background-color: #FAFAFA;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mp_tab_details hr {
    margin-bottom: 20px;
}

.mp_tab_details .wbtm-item-row {
    padding: 10px;
    margin-bottom: 0;
}

.mp_tab_details .wbtm-item-row:nth-child(even) {
    background-color: #f9e9e9;
}

.mp_tab_details .wbtm-item-row:nth-child(odd) {
    background-color: #fff;
}

.mp_tab_item {
    display: none;
    overflow: scroll;
}

.mp_tab_menu ul li {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#wbbm-single-settings-meta label.ra-item-label {
    display: inline-block;
    font-size: 16px;
    background-color: #E2E2FF;
    margin: 0;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    margin-right: 30px;
    color: #474747;
}

#wbbm-single-settings-meta label,
#wbbm-single-settings-meta label span {
    display: inline-block;
}

#wbbm-single-settings-meta .onday-sec label span {
    display: block;
}

#wbbm-single-settings-meta input[type="checkbox"] {
    width: auto;
}

#wbbm-single-settings-meta input[type="checkbox"]:checked::before {
    width: 18px;
    margin-top: -1px;
}


/* Go PRO Page CSS*/

.wbbm_go_pro_page_wrap {
    background: #eff8ff;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.wbbm_go_pro_intro_sec {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 10px;
}

.wbbm_go_pro_intro_sec img {
    width: 400px;
}

.wbbm_go_pro_btn1 {
    background-color: #D04E4E;
    color: #fff;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
}

.wbbm_go_pro_btn2 {
    background-color: #4ED068;
    color: #fff;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
}

.wbbm_go_pro_btn3 {
    background-color: #4E93D0;
    color: #fff;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
}

.wbbm_go_pro_btn1:hover,
.wbbm_go_pro_btn2:hover,
.wbbm_go_pro_btn3:hover {
    color: #fff;
}

.wbbm_go_pro_review_row {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.wbbm_go_pro_review {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    max-width: 28%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.wbbm_go_pro_review_stars {
    margin-bottom: 20px;
}

.wbbm_go_pro_review_stars span {
    display: inline-block;
    color: #fdd500;
}

.wbbm_go_pro_review_text {
    margin-bottom: 20px;
}

.wbbm_go_pro_review_writer_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.wbbm_go_pro_review_writer_designation {
    font-size: 14px;
    font-weight: normal;
    color: #7d7d7d;
}

.wbbm_go_pro_review_sec {
    text-align: center;
}

.wbbm_go_pro_review_sec .wbbm_go_pro_review_row .wbbm_go_pro_btn1 {
    margin: auto;
    margin-top: 20px;
}

.wbbm_go_pro_review_sec h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.wbbm-ss-side-heading {
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.wbbm_mp_tab_item_heading {
    margin: 0;
    padding: 20px;
    background-color: #E2E2FF;
}

.wbbm_mp_tab_item_heading img {
    width: 14px;
    margin-right: 10px;
}

.configuration_wrapper {
    margin-top: 10px;
}

.mp_tab_details select {
    border-color: #5C58A5;
    color: #5C58A5;
    background-color: rgba(237, 239, 251, 0.41);
    height: 30px;
}

.inside .mp_tab_details input[type=text] {
    border-color: #5C58A5;
    color: #5C58A5;
    padding: 0;
    background-color: rgba(237, 239, 251, 0.41);
    padding-left: 5px;
}

.mp_tab_item_inner_wrapper {
    padding: 20px;
}

div.mpStyle ._dButton_xs_bgBlue.wbtm_route_add_new_bus_btn {
    background-color: rgb(92, 88, 165);
    margin-bottom: 10px;
}

.wbtm_route_add_new_bus_btn i {
    margin-right: 5px;
    font-size: 12px;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-left-col {
    margin-right: 30px;
}

#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-left-col,
#wbbm-single-settings-meta .bus-stops-wrapper .bus-stops-right-col {
    border: 2px solid rgb(92, 88, 165);
    border-radius: 10px;
    padding: 0;
}

.bus-stops-wrapper {
    margin-top: 30px;
}

.boarding-point td,
.dropping-point td {
    padding: 10px;
}

a.button.remove-bp-row i {
    margin-right: 5px;
}

.wbbm_bus_route_select,
.wbbm_bus_route_time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.wbbm_bus_route_icon {
    background-color: rgb(92, 88, 165);
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    margin-right: -4px;
    position: relative;
    text-align: center;
}

.wbbm_bus_route_icon1 img {
    width: 14px;
    padding-top: 6px;
}

.wbbm_bus_route_icon2 img {
    width: 16px;
    padding-top: 6px;
}

.wbbm_seat_price_inner_wrap {
    padding: 20px;
}

#add-price-row i {
    margin-right: 5px;
}

.wbbm_seat_price_inner_wrap table tr td {
    padding: 8px;
}

.wbbm_seat_price_inner_wrap table tr {
    border-bottom: 10px solid #FAFAFA;
}

.remove-price-row i {
    margin-right: 5px;
}

.mp_tab_item .mpStyle .roundSwitch {
    width: 40px;
    height: 12px;
    background-color: rgb(30 27 27 / 25%);
}

.mp_tab_item .mpStyle .roundSwitch::before {
    left: 0px;
    bottom: -2px;
    box-shadow: -1px 3px 5px -3px rgba(170, 170, 170, 0.76);
    background-color: #fff;
}

.mp_tab_item .mpStyle .roundSwitchLabel input:checked+.roundSwitch::before {
    left: -10px;
}

.mp_tab_item .mpStyle .roundSwitchLabel input:checked+.roundSwitch::before {
    background-color: #5C58A5;
}

.mp_tab_item .mpStyle .roundSwitchLabel input:checked+.roundSwitch {
    background-color: rgba(92, 88, 165, 0.25);
}

.wbbm_pickuppoint_inner_wrapper {
    padding: 20px;
}

.wbbm_pickuppoint_inner_wrapper .ra-text-center {
    text-align: left;
}

.ra-picup-point-button i {
    margin-right: 5px;
    color: #fff;
}

.wbbm_pickuppoint_inner_wrapper div.mpStyle ._dButton_xs_bgBlue.ra-picup-point-button {
    background-color: rgb(59, 201, 124);
    font-weight: normal;
    font-size: 13px;
}

.wbtm_bus_off_on_date_inner_wrapper {
    padding: 20px;
}

.wbtm_bus_off_on_date_inner_wrapper .ra-enable-button {
    font-size: 18px;
}

.wbtm_bus_off_on_date_inner_wrapper .onday-sec label {
    display: block;
    font-size: 18px;
    font-weight: 600 !important;
    color: #000;
}

.wbtm_bus_off_on_date_inner_wrapper .onday-sec label span {
    margin-top: 10px;
}

.wbbm_bus_pickpint_wrapper .ra-display-boarding-point {
    display: flex;
}

.wbbm_bus_pickpint_wrapper .ra-display-boarding-point select {
    margin-right: 20px;
}

.wbbm_bus_pickpint_wrapper .ra-display-button {
    display: flex;
}

.wbbm_bus_pickpint_wrapper h3 {
    font-size: var(--fs);
}

.pickpoint-adding-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
}

.pickpoint-adding-wrap {
    margin-bottom: 20px;
}

.wbbm_bus_pickpint_wrapper #wbbm_pick_boarding {
    margin-right: 20px;
}

.wbtm_bus_off_on_date_inner_wrapper table td {
    padding: 8px;
}

.wbtm_bus_off_on_date_inner_wrapper table tr {
    border-bottom: 10px solid #FAFAFA;
}

.wbtm_bus_off_on_date_inner_wrapper table th {
    text-align: left;
}

.wbbm_bus_icon_group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.wbbm-offday-wrapper.off-day label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

.wbtm_bus_partial_payment_inner_wrapper {
    padding: 20px;
    padding-left: 0;
}

#wbbm-single-settings-meta .wbtm_bus_partial_payment_inner_wrapper table th {
    background-color: #E2E2FF;
    color: #474747;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
    font-weight: 400;
    width: 230px;
}

#wbbm-single-settings-meta .wbtm_bus_partial_payment_inner_wrapper table td {
    padding-left: 30px;
}

#wbbm-single-settings-meta .wbtm_bus_partial_payment_inner_wrapper table tr {
    border-bottom: 10px solid #FAFAFA;
}

.wbtm_bus_reg_form2_inner_wrapper {
    padding: 20px;
    padding-left: 0;
}

.wbtm_bus_reg_form2_inner_wrapper table tr {
    border-bottom: 10px solid #FAFAFA;
}

.wbtm_bus_reg_form2_inner_wrapper table tr td {
    padding: 5px;
    vertical-align: middle;
}

.wbtm_bus_reg_form2_inner_wrapper table tr td:first-child {
    background-color: #E2E2FF;
    color: #474747;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
    font-weight: 400;
    width: 230px;
}

.wbtm_bus_reg_form2_inner_wrapper table tr td:last-child {
    padding-left: 30px;
    vertical-align: middle;
    padding-top: 10px;
}

.wbbm_seat_price_inner_wrap table th,
.mp_ticket_type_table table th {
    text-align: left;
}

.bus-stops-wrapper input::placeholder,
.pickpoint-adding-wrap input::placeholder {
    color: #d9d3d3;
}

.wbbm_alert_info {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    margin: 20px;
}