.mage_container{max-width: 1366px !important;width: 100% !important;margin: 0 auto !important;padding: 15px;font-size: 16px !important;}
div.mage_container p{font-size: 16px !important;}
div.mage_row{min-height: 1px;}
.mage_container div,
.mage_container ul,
ul.mage_route_list li,
.mage_container label{display: block;}
.mage_container ul{list-style-type: none;}
.mage_hidden,
div.mage_hidden{display:  none !important;}
.mage_error{background-color: red !important;color:#fff !important;}
.mage_disabled{cursor: no-drop !important;opacity: 0.2 !important;}
/**********************/
div.mage_container h2,
div.mage_container h3,
div.mage_container h4,
div.mage_container p,
form.mage_form,
.mage_container ul{margin: 0;padding: 0;line-height: 1;}
/************flex**********/
div.mage_flex,
div[class*="mage_qty"],
div.mage_center_space,
div.mage_row,
div.mage_flex_equal,
div.mage_form_group,
div.mage_form_list_body,
div.mage_customer_info_area label,
.search_form_horizontal form.mage_form,
.mage_form_radio label,
button.mage_button,
div.mage_sub_price{display: -webkit-flex;display: flex;}
.mage_flex_equal> *,
.search_form_horizontal form.mage_form .mage_form_list{-webkit-flex: 1;-ms-flex: 1;flex: 1;}
.mage_center_space,
[class*="mage_qty"],
div.mage_customer_info_area label,
button.mage_button,
div.mage_sub_price{-webkit-align-items: center;align-items: center;}
[class*="mage_qty"],
button.mage_button,
div.mage_sub_price{-webkit-justify-content: center;justify-content: center;}
.mage_center_space,
.mage_form_list_body,
.search_form_horizontal form.mage_form,
.search_form_horizontal div.mage_form_radio{-webkit-justify-content: space-between;justify-content: space-between;}
div.mage_row,
.mage_form_list_body,
.mage_flex_equal,
.mage_book_now_area,
.search_form_horizontal form.mage_form{-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
/**********************/
.mage_search_box_small,
.mage_container img,
form.mage_form .mage_form_control,
.mage_form_group,
button.mage_button,
.mage_sidebar_search_form,
div.mage_route_title,
div.mage_search_list ,
form .mage_form,
form .mage_form_full,
input[type='text'].mage_form_full,
.mage_customer_info_area .mage_form_list,
.search_form_horizontal{-webkit-border-radius: 5px !important;border-radius: 5px !important;}
ul.mage_route_list{-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
/**********************/
/************Title**********/
.mage_container h2{font-size: 25px !important;font-weight: 700 !important;}
.mage_container h3{font-size: 20px !important;font-weight: 700 !important;}
.mage_container h4{font-size: 18px !important;font-weight: 700 !important;}
.mage_route_title{background-color: #0a4b78;padding: 10px;margin: 0 0 15px 0;}
div.mage_route_title p{text-align: center;font-size: 22px !important;color: #fff;}
/**********Button************/
button.mage_button{padding: 0 !important;color: #fff;background-color: #0a4b78;font-size: 16px !important;font-weight: 700;min-width: 150px;width: 100%;cursor: pointer;height: 45px;}
button.mage_button span{padding: 0 7px 0 0;}
button.mage_button:hover,
button.mage_button:focus{text-decoration: none;opacity: 0.9;}
/**********************/
.mage_mini_cart:hover,
.mage_search_list.booked{-webkit-box-shadow: 0 2px 10px #444;box-shadow: 0 2px 10px #444;}
/**********************/
/***********search area***********/
.mage_search_box_small{max-width: 500px;margin: 0 auto;padding: 20px;border: 1px solid #ddd;background-color: #fff;}
div.mage_search_box_small h2{margin: 0 !important;padding: 20px 0 0 0 !important;color: #000;}
ul.mage_route_list{display: none;position: absolute;left: 0;top: 100%;right: 0;border: 1px solid #ddd;z-index: 11;overflow: auto;max-height: 300px;background-color: #F2F2F2;}
ul.mage_route_list li{padding: 10px;cursor: pointer;border-top: 1px solid #ddd;margin: 0;}
ul.mage_route_list li span{padding: 0 7px 0 0;}
ul.mage_route_list li:first-child{border-top: none;}
.mage_search_box_sidebar{width: 100%;max-width: 300px;}
.mage_sidebar_search_form{padding: 15px;border: 1px solid #ddd;}
.mage_search_area{width: 100%;max-width: calc(100% - 315px);margin: 0 0 0 15px;}
.mage_search_list{padding: 15px;border: 1px solid #ddd;margin: 15px 0 0 0;}
.mage_search_list button.mage_button{min-width: 150px;}
    /**********Form************/
form.mage_form{display: block;}
.mage_form_list{margin: 15px 0 0 0;position: relative;}
form.mage_form .mage_form_control,
form .mage_form_full{width: 100%;border: 1px solid #ddd !important;padding: 5px 15px !important;height: 45px !important;color: #222;font-size: 16px !important;}
form.mage_form label{font-size: 18px !important;color: #555;font-weight: 500;padding: 0 0 7px 10px;margin: 0;}
form.mage_form label span{padding: 0 7px 0 0;}
form.mage_form .mage_form_list .mage_form_control:focus{-webkit-border-radius:5px 5px 0 0;border-radius: 5px 5px 0 0;border-color: #ddd;}
form.mage_form .mage_form_list .mage_form_control:focus~ ul.mage_route_list{display: block;}

.mage_form_group{max-width: 140px;border: 1px solid #ddd;margin: 0;background-color: #f7f7f7;text-align: center;}
div.mage_form_group .mage_form{width:50%;border-top:none;border-bottom:none;text-align: center;height: 40px;font-size: 18px !important;padding: 0 !important;}
div.mage_form_group .mage_form:focus,
form .mage_form:focus,
form .mage_form_full:focus{border:1px solid #aaa;}

[class*="mage_qty"] {width: 25%;color: #777;font-size: 14px !important;cursor: pointer;}

.mage_customer_info_area .mage_form_list{margin:15px 0 0 0; display:none;border: 1px solid #ddd;}
div.mage_form_list_title h4{background-color:#777;color:#fff;text-align:center;padding: 7px 0;font-weight:700;font-size: 18px !important;margin: 0;}
.mage_form_list_body{padding: 0 15px 15px 15px;}
.mage_form_list .mage_form_full,
.mage_customer_info_area label{
    margin:15px 0 0 0;
    width: calc(50% - 8px);
    display:inline-block;height:45px;
    font-size: 16px !important;
}
.mage_customer_info_area .mage_form_list label>span{width:50%;display: inline-block;text-align:center;}
.mage_customer_info_area .mage_form_list label .mage_form_full{width:50%;margin: 0;}
.mage_form_radio label input{margin: 0 7px 0 0;}
.mage_form_list textarea.mage_form_full{height: auto !important;padding: 15px !important;}

.search_form_horizontal{background-color: #fff;margin: 15px auto !important;padding: 15px 0 0 15px;border: 1px solid #ddd;}
.search_form_horizontal form.mage_form .mage_form_list{margin: 0 15px 15px 0;}
.search_form_horizontal div.mage_form_radio,
.search_form_horizontal div.mage_form_search{display: -webkit-flex;display: flex;-webkit-align-items: flex-end;align-items: flex-end;}
.search_form_horizontal form.mage_form label{font-size: 15px !important;padding: 0 0 5px 0;}
.search_form_horizontal form .mage_form_control{height: 40px !important;font-size: 14px !important;}
.search_form_horizontal form.mage_form label span{padding: 0 5px 0 0;}
.search_form_horizontal button.mage_button{height: 40px;}
/**********************/
.mage_mini_cart{position: fixed;right: 0;top: 47%;background-color: #ddd;padding: 10px;text-align: center;min-width: 120px;}
/**********************/
.mage_thumb{width: 20%;}
.mage_thumb img{width: 100%;height: auto;max-width: 100%;}
.mage_bus_details,
.mage_book_now_area .mage_flex_equal{width: 80%;}
.mage_bus_info,
.mage_price_info{padding: 0 0 0 15px;border-left: 1px solid #ddd;margin: 0 0 0 15px;}
.mage_price_info .mage_center_space{margin: 0 0 7px 0;}
.mage_book_now_area{margin: 15px 0 0 0;padding: 15px 0 0 0;border-top: 1px dotted #ddd;}
.mage_sub_price,
.mage_book_now{margin: 0 0 0 15px;padding: 0 0 0 15px;}
div.mage_container  p.mage_sub_total{text-align: center;font-size: 18px !important;}
.mage_search_list.booked{border-color: #039f25;}
.return_title{margin: 15px 0 0 0;}
p.already_cart{font-size: 20px !important;font-weight: 700;color: #1aa638;margin: 15px 0 0 0 !important;}
p.already_cart span{margin: 0 7px 0 0;}
div.mage_bus_info p{margin: 10px 0 0 0;}

.mar_b{margin-bottom: 10px !important;}
.mar_r{margin-right: 7px !important;}
.bor_tb{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 5px !important; margin-top: 10px !important;}
@media only screen and (max-width: 1200px) {
    .mage_search_box_sidebar{max-width: 100%;}
    .mage_search_area{max-width: 100%;margin: 15px 0 0 0;}
    .mage_sidebar_search_form form.mage_form{display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-justify-content: space-between;justify-content: space-between;}
    .mage_sidebar_search_form form.mage_form .mage_form_list{width: calc(33% - 15px);}
    .mage_route_title p{font-size: 20px !important;}
    div.mage_form_radio{padding: 0 0 8px 0;}
    .search_form_horizontal div.mage_form_radio{padding: 0;}
    div.mage_form_radio,
    div.mage_form_search{display: -webkit-flex;display: flex;-webkit-align-items: flex-end;align-items: flex-end;}

}
@media only screen and (max-width: 1100px) {
    .search_form_horizontal form.mage_form .mage_form_list{-webkit-flex: inherit;-ms-flex: inherit;flex: inherit;width: calc(50% - 15px);}
}
@media only screen and (max-width: 900px) {
    .mage_sidebar_search_form form.mage_form .mage_form_list{width: calc(50% - 15px);}
    div.mage_flex_equal.mage_bus_details>*{-webkit-flex: inherit;flex: inherit;width: 100%;}
    div.mage_flex_equal .mage_price_info{margin: 15px 0 0 15px;}
    .mage_container h3{font-size: 20px !important;}
    .mage_route_title p{font-size: 18px !important;}
    div.mage_container p{font-size: 14px !important;}
    .mage_book_now_area .mage_thumb,
    .mage_book_now_area .mage_flex_equal{width: 100%;}

}
@media only screen and (max-width: 700px) {
    .xs_not_flex{display: block !important;}
    .xs_not_flex .mage_bus_details,
    .xs_not_flex .mage_thumb{width: 100%;}
    .mage_bus_info, .mage_price_info{border: none;margin: 15px 0 0 15px;padding: 0;}
}
@media only screen and (max-width: 600px) {
    .mage_book_now_area div.mage_flex_equal>*{-webkit-flex: inherit;flex: inherit;width: 100%;}
    .mage_sub_price {
        margin: 0 0 15px 0;
        padding: 0;
    }
    .mage_book_now{margin: 0;padding: 0;}
}
@media only screen and (max-width: 500px) {
    .mage_container {
        font-size: 14px !important;
    }
    .mage_sidebar_search_form form.mage_form .mage_form_list{width: 100%;}
    .mage_form_list .mage_form_full, .mage_customer_info_area label{width: 100%;}
    .mage_container h3{font-size: 18px !important;}
    .mage_container h4{font-size: 15px !important;}
    .mage_form_list .mage_form_full,
    .mage_customer_info_area label,
    .mage_route_title p,
    div.mage_form_group .mage_form,
    div.mage_form_list_title h4{font-size: 16px !important;;}
    .mage_form_group{max-width: 50%;}
    .search_form_horizontal form.mage_form .mage_form_list{width: 100%;}
}
@media only screen and (max-width: 1200px) {}