.sec > .ra-item-label {
    font-weight: 700;
    min-width: 188px;
    display: inline-block;
    min-width: 200px;

}
.ra_bus_on_date{
    width: 100%;
}

.boarding_points.ra-display-button{
    display: none;
}
.open-routing-tab.ra-display-boarding-point{
    display: none;
}
.ra-button-style {
    padding: 10px 0;
    text-align: center;
    background: #d23838;
    color: #fff;
    border: 5px solid #ff2d2d;
    padding: 5px;
    font-size: 16px;
    display: block;
    margin: 20px;
}
.ra-text-center{
    text-align: center;
}
.mpStyle button.ra-picup-point-button {
    display: inline !important;
    margin-bottom: 10px;
}
.popupBody label{
    display: flex !important;
}
.name_required {
    color: red !important;
    padding-left: 158px  !important;
    padding-top: 10px !important;
    font-size: 17px !important;
    display: none;
}